.DrawerToggle {
    width: 40px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 201;
    position: relative;
    margin-top: 10px;
    transition: all 0.4s ease;

}

.DrawerToggle div {
    width: 90%;
    height: 3px;
    background-color: #ff9543;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;

}

.DrawerToggle div:after, .DrawerToggle div:before{
    background: inherit;
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    top: 10px;
    border-radius: 25px;
} 

.DrawerToggle div:before{

    top: -10px;
} 


/*  CLICKED */

.Clicked {

    transform: rotate(135deg);
    transition: all 0.4s ease;
}

.Clicked:hover {
    transform: rotate(-225deg);
}


.Clicked div:after, 
.Clicked div:before
{
    top: 0;
    transform: rotate(90deg);
}


@media (min-width: 500px) {
    .DrawerToggle {
        display: none;
    }
}