.Modal {
    position: fixed;
    z-index: 500;
    background-color: black;
    width: 70%;
    border: 1px solid rgba(204, 204, 204, 0.233);
    box-shadow: 15px 0px 30px rgba(252, 250, 250,0.1), -15px 0px 30px rgb(255, 255, 255,0.1);
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    border-radius: 15px;
    
}

@media (min-width: 600px) {
    .Modal {
        width: 410px;
        left: calc(50% - 202px);
    }
}

@media (max-width: 434px) {
    .Modal {
        top: 10%;
    }
}