.Content {
    /* margin-top: 72px; */
    display: flex;
    height: 95%;
    background: linear-gradient(74deg, rgb(0, 0, 0) 37%, rgb(252, 159, 0) 29%);
}


@media(max-width: 499px) {
    .Content {
        margin-top: 10px;
    }
    
}