.Orders ul {
  list-style: none;
  width: 70%;
  text-align: center;
  margin: auto;
  padding: 0;
  position: relative;
}

.Orders {
  /* background: chartreuse; */
  width: 100vw;
  margin-top: 20px;
}

@media (max-width: 495px) {
  .Orders ul{
    width: 100vw;
    width: auto;
  }
}