.Order {
  width: 100px;
  /* border: 1px solid #eee; */
  box-shadow: 02px 2px 10px black;
  /* padding: 10px; */
  border-radius: 10px;
  margin: 10px auto;
  box-sizing: content-box;
  background: white;
  width: 50vw;
  min-height: 50px;
  display: inline-block;
  transition: max-height 0.5s ease-in;
  max-height: 0;
  overflow: hidden;

}



.Def {
  transition: max-height 0.5s linear;
  max-height: 250px;
}

.Expand {
  background-color: rgb(221, 221, 221);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 495px) {
  .Order {
    width: 90vw;
  }
}