.ContactData {
    /* margin: auto auto; */
    text-align: center;
    width: 50%;
    height: auto;
    box-shadow: 0 2px 3px #ccc;
    background: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    top: 10vh;
    right: 20vw;
    position: absolute;
    background-color: rgb(255, 255, 255);
    padding: 0 0;
    border-radius: 10px;
    min-width: 305px;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
        0 17px 50px 0 rgba(0, 0, 0, 0.19);

    max-width: 500px;
}
.ContactData div div {
    margin: 0;
    padding: 0;
    padding-bottom: 8px;
}

.ContactData h1 {
    font-family: "ChakraPetch-SemiBold";
    font-weight: ;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 80px;
    margin: 0;
    padding: 0;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;

    background: url("../../../assets/images/burger-table.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
}
.ContactData h1:before {
    position: absolute;
    content: "";

    background: rgba(0, 0, 0, 0.637);
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.ContactData div {
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    padding-bottom: 10px;
}

/* .Input  {
    display: block;
    
} */

.ContactData input,
.ContactData select {
    border-radius: 25px;
    color: black;
    position: relative;
    /* width: 100%; */
    background: rgb(236, 236, 236);
}
.ContactData input:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 15px;
    width: 15px;
    color: black;
    background: green;
}

.ContactData input, .ContactData select {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.288);
}

.ContactData label {
    padding-left: 15px;
    text-align: left;
    font-weight: bold;
    font-style: italic;
    font-family: "ChakraPetch-SemiBold";
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #ff7000;
}

.ContactData .InputContainer {
    margin-top: 30px;
}


.ContactData .ButtonsContainer {
    display: flex;

}