.ContactData {
    /* margin: auto auto; */
    text-align: center;
    width: 400px;
    height: 70vh;
    box-shadow: 0 2px 3px #ccc;
    background: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    top: 10vh;
    left: 35vw;
    margin: auto auto;
    position: absolute;
    background-color: red;
    padding: 0px 40px;
}

.Input  {
    display: block;
    
}


.ContactData input, .ContactData select {
    border-radius: 25px;
}

