.BuildControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  /* width: 60%; */
  text-align: center;
}

.BuildControl button {
  display: block;
  font: inherit;

  margin: 0 5px;
  width: 40px;
  height: 40px;
  border: 1px solid #aa6817;
  cursor: pointer;
  outline: none;
  border-radius: 50%;
  
}

/* .BuildControl button:disabled {
  background-color: #ac9980;
  border: 1px solid #7e7365;
  color: #ccc;
  cursor: default;
}
*/
.BuildControl button:hover:disabled {
  background-color: red;
  color: #ccc;
  cursor: not-allowed;
  transition: all 0.1s linear;
} 

.Label {
  padding: 10px;
  font-weight: bold;
  width: 80px;
}



.BuildControl .Less {
  background-color: transparent;
  color: black;
  border: 3px black solid;
  font-weight: bold;
}

.BuildControl .More {
  background-color: transparent;
  color: black;
  border: 3px black solid;
  font-weight: bold;
}

.BuildControl .More:hover, .Less:hover
{
  background-color: black;
  color: white;
  font-weight: bold;
  transition: all 0.1s linear;
}

/* .BuildControl .Less:active
{
  background-color: rgb(255, 8, 8);
  color: white;
} */


/* .BuildControl .More:hover
{
  background-color: #99703f;
  color: white;
} */
