.Input {
    width: 100%;
    /* padding: 10px; */
    box-sizing: border-box;
    height: 70px;
    /* position: relative; */
}

.Label {
    display: block;
    margin-bottom: 8px;
    position: relative;
    top: 0;
    left: 0;
    text-align: left;
    padding-left: 10px;
    font-size: 0.8rem;
    font-style: italic;
    font-family: 'ChakraPetch-SemiBold';
    text-transform: uppercase;
    margin-bottom: 0.3px;
    color: white;
}



.InputElement {
    outline: none;
    border: 1px solid rgba(204, 204, 204, 0.39);
    /* background-color: white; */
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.103);

}

.InputElement:focus {
    outline: none;
    background-color: rgba(250, 249, 249, 0.144);
}

.Input input:hover, .Input input:focus {
    box-shadow: 1px 0px 3px rgba(255, 255, 255, 0.562);
    transition: all 0.2s linear;
    background: rgba(255, 255, 255, 0.288);
}

.Invalid {
    border: 1px solid red;
    background-color: rgb(245, 161, 151);
}

 /* a {
    color: rgb(255, 255, 255);
} */