.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    border-radius: 12px;
    text-align: center;
    transition: all 0.1s linear;
    font-family: 'ChakraPetch-SemiBold';
    
}


.Success {
    background: transparent;
    color: #ff7000;
    border: 4px #ff7000 solid;

}

.Success:hover {
    color: black;
    background: #ff7000;
    
}

.Danger {
    background: transparent;
    color: rgb(243, 103, 88);
    border: 4px rgb(243, 103, 88) solid;

}

.Danger:hover {
    background: rgb(243, 103, 88);
    color: black;
}

Button:hover {
    background: rgba(8, 8, 8, 0.137);
}

button:disabled {
    color: #ccc;
    cursor: not-allowed;
}



.Checkout_Continue {
    /* background: black ; */
    border: 4px black solid;
    color: black;
}
.Checkout_Continue:hover {
    background: black;
    color: #ff7000;
}

.Checkout_Cancle {
    /* background: black ; */
    border: 4px rgb(253, 50, 50) solid;
    color: rgb(253, 50, 50);
}
.Checkout_Cancle:hover {
    background: rgb(253, 50, 50);
    color: #ff7000;

}

.Checkout_Login {
    /* background: black ; */
    border: 2px #ff7000 solid;
    color: black;
    background: #ff7000;
    border-radius: 20px;
    width: 100%;
    font-size: 1.2rem;
}
.Checkout_Login:hover {
    background: transparent;
    color: #ff7000;
}
