

.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    flex-flow: column;
    
}

.NavigationItems ul:first-child{
    padding-right: 15px;
}

 .BurgerBuilderNav {
    padding-right: 15px;
}

@media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
        
    }
}
