.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-family: 'ChakraPetch-SemiBold';

}



.NavigationItem a {
    /* color: #8F5C2C; */
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    color: white; 

}


.NavigationItem :active {
    /* color: inherit; */
    /* color: white; */
}

@media(min-width: 500px) {
    .NavigationItem {
        margin: 0;
        display: flex;
        height: 100%;
        align-items: center;
        /* padding-left: 5px; */
        width: 85px;
        justify-content: flex-end;
    }
    
    .NavigationItem a {
        /* color: white; */
        color: black;
        height: 100%;
        /* padding: 16px 10px; */
        border-bottom: 4px solid transparent;
        transition: all 0.2s linear;
        text-align: center;
        height: auto;
        border-bottom: 4px transparent solid;

    
    }
    
    
    .NavigationItem a:hover {
        font-size: large;

    }

    .NavigationItem a.active {
        /* background-color: #8F5C2C;
        border-bottom: 4px solid #40A4C8; */
        color: black;
        font-weight: bold;
        font-size: large;
        transition: all 0.2s linear;
        border-bottom: 4px rgba(0, 0, 0) solid;
    }

    
}