.Burger {
    width: 30%git;
    /* margin: auto; */
    /* height: 100%; */
    overflow-y: scroll;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    direction: rtl;
    transition: all 0.2s linear;
}

.AddIngsText {
    color: rgb(99, 60, 60);
}

@media(max-width: 1300px) {
    .Burger{
        /* width: 300px; */
    }
}

@media(max-width: 1000px) {
    .Burger{
        padding-top: 110px;
        /* width: 200px; */
    }
}

